{% extends "store/layout.html" %}
{% block body %}
<main>
    <!--Shop-->
    <div class="shop">
        <h2>Shop</h2>
        <ul>
            <li><a href="#">MC Docklands</a></li>
            <li><a href="#">KFS</a></li>
            <li><a href="#">Puzata Hata</a></li>
            <li><a href="#">SHaverma</a></li>
            <li><a href="#">MAMAMAHAHA</a></li>
        </ul>
    </div>

    <!--foto of food-->

    <div class="food">
        <h2>Food</h2>
        <div>
            <div>
                <div>
                    <img src="static/images/burger.jpg" alt="Foto Burger" width="300" height="200">
                    <div>
                        <h3>Burger</h3>
                        <button>add to Card</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="static/images/Fries.jpg" alt="Foto fries" width="300" height="200">
                    <div>
                        <h3>Fries</h3>
                        <button>add to Card</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="static/images/hot-dog.jpg" alt="Foto Hot-dog" width="300" height="200">
                    <div>
                        <h3>Hot Dog</h3>
                        <button>add to Card</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="static/images/margarita.jpg" alt="Foto Margarita" width="300" height="200">
                    <div>
                        <h3>Margarita</h3>
                        <button>add to Card</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="static/images/pepperoni.jpg" alt="Foto Pepperoni" width="300" height="">
                    <div>
                        <h3>Pepperoni</h3>
                        <button>add to Card</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}